.subtitle {
    background-color: transparent;
    text-align: center;

    h4 {
        width: 100%;
        color: #ff7f51;
        font-style: italic;
    }
}

.contain {
    background-color: transparent;
}