.loadal {
	
	&_text {
		font-size: 1rem;
		min-width: 10rem;
		background: rgb(255 255 255 / 80%);
		border: 1px solid #b3bab9;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		display: inline-block;
		margin: 0 auto;
		line-height: 1rem;
	}
}